nav ul {
  display: flex;
  gap: 0.5em;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
}

body.centered {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
}
