body {
  display: flex;
  flex-direction: column;

  main:first-of-type {
    flex-grow: 1;
  }
}

nav ul {
  display: flex;
  gap: 0.5em;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}
